@tailwind base;
@tailwind components;
@tailwind utilities;
html,body{
    height: 100%;
    width:100%;
    font-size: 14px;

}
#app{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    background: linear-gradient(180deg, #fff, #EAEAF4);

}
#videos{
    height: 55rem;
    overflow-y: scroll;
}
#top p{
    text-shadow: 3px 3px #EAEAF4;
}